# System Files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
/package-lock.json
/yarn.lock
/pnpm-lock.yaml

# IDE & Tools
.vscode/
.idea/
*.swp
*.swo

# Environment Variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Brain/Artifacts (Agent)
.gemini/
.agent

Context.md
fitur-tambahan.md
GMAIL_SETUP.md  
Landingpage.md  
RENDER_GUIDE.md 
brief 1.jpeg
brief 2.jpeg
UI.md

docker-compose.yml
